# Environment files
.env
.env.*
!.env.example

# Dependencies
/vendor/
/node_modules/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite
*.sqlite3

# Temporary files
*.swp
*.swo
.DS_Store
Thumbs.db

# Uploaded files
/public/uploads/
/public/reports/

# Cache files
*.cache 